* {
    font-family: sans-serif;
}

@font-face {
    font-family: "Kaph";
        src: url('../assets/Kaph-Regular.ttf') format('truetype');
  }


.game-over-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 800px;
    height: 800px;
}

.game-over {
    color: #60b060;
    font-size: 60px;
    font-family: "Kaph";
    font-style: normal;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0%, -50%);

}

.board {
    background-image: url("../assets/map.png");
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    
}

.frame-background {
    background-image: url("../assets/frameBackgroundv2.png");
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 898px;
    height: 898px;
    background-size: 898px;
    transform: translate(-50%, -58%);
    z-index: 3;
}

.creet {
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Tout les autres navigateurs */
}

.creet:active {
    opacity: 0.6;

}

.bottom-side {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 1100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.right-side {
    position: absolute;
    top: 44%;
    right: 10%;
    transform: translate(0%, -50%);
    width: 100px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.left-side {
    position: absolute;
    top: 44%;
    left: 10%;
    transform: translate(0%, -50%);
    width: 100px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.stats-time {
    /* position: absolute;
    bottom: 5%;
    left: 30%;
    transform: translate(0%, -10%); */
    color: #204020;
    font-size: 40px;
    font-family: "Kaph";
    font-style: normal;
    width: 320px;
}

.stats-healthy {
    /* position: absolute;
    bottom: 5%;
    left: 30%;
    transform: translate(0%, -10%); */
    color: #204020;
    font-size: 40px;
    font-family: "Kaph";
    font-style: normal;
    width: 320px;
}

.start-button {
    /* position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%); */
    background-image: url("../assets/startButton.png");
    width: 220px;
    height: 80px;
    background-size: 220px 80px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin: 0;
    z-index: 0;
}

.start-button:hover {
    background-image: url("../assets/startButtonHover.png");
}
.start-button:active {
    background-image: url("../assets/startButtonClicked.png");
}

.slide-bar-background {
    background-image: url("../assets/woodSign.png");
    width: 300px;
    height: 159px;
    
}

.slide-bar-text {
    color: #613208;
    font-size: 20px;
    font-family: "Kaph";
    font-style: normal;
    position: relative;
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* creating a custom design */
    width: 220px;
    height: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    /*  overflow: hidden;  remove this line*/
  
    /* New additions */
    background: #944a07;
}

input[type="range"]::-webkit-slider-thumb {
/* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 42px;
    width: 28px;
    background-image: url("../assets/sliderButton.png");
    border: none;

    transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 42px;
    width: 28px;
    background-image: url("../assets/sliderButton.png");
    border-radius: 10px;
    border: none;
    
    transition: .2s ease-in-out;
}


body::after{
    
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url("../assets/startButtonHover.png") url("../assets/startButtonClicked.png");
}


body {
    background-image: url("../assets/fullBackground.png");
}