* {
    font-family: sans-serif;
}

.board {
    background-image: url("../assets/map.png");
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.frame-background {
    background-image: url("../assets/frameBackgroundv2.png");
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 898px;
    height: 898px;
    background-size: 898px;
    transform: translate(-50%, -58%);
}

.creet {
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Tout les autres navigateurs */
}

.creet:active {
    opacity: 0.6;

}

body {
    background-image: url("../assets/fullBackground.png");
}