* {
    font-family: sans-serif;
}

.board {
    background-image: url("../assets/map.png");
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.frame-background {
    background-image: url("../assets/frameBackgroundv2.png");
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 898px;
    height: 898px;
    background-size: 898px;
    transform: translate(-50%, -58%);
}

.creet {
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Tout les autres navigateurs */
}

.creet:active {
    opacity: 0.6;

}

.start-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-image: url("../assets/startButton.png");
    width: 220px;
    height: 80px;
    background-size: 220px 80px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.start-button:active {
    background-image: url("../assets/startButtonClicked.png");
}

body {
    background-image: url("../assets/fullBackground.png");
}